*{
	margin: 0;
	padding: 0;
	color: #fbb13c
}

body { 
	display: block; 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./loan1.jpg);
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.6rem;
	font-family: sans-serif;
}
.container{
	border:5px solid #fff;
	width:90%;
	max-width: 500px;
	height: 90%;
	text-align: right;
	margin:4em auto;
	/*box-shadow: 2px 2px 4px #fbb13c;*/

}
p{
	text-align: left;
	padding: 2rem;
	text-transform: uppercase;
}

input{
	font-size: 1.6rem;
	color: black;
}
h3{
	border-bottom:5px solid #fff;
	text-align: right;
	padding: 10px;
}

/*@media (min-width: 220px) {
	p {
		font-size: 1rem;
	}
	input{
		font-size: 1rem;
	}
	.container {
		width:75%;
	}
}*/

@media (max-width: 670px) {
	p {
		font-size: 1rem;
	}
	input{
		font-size: 1rem;
	}
	.container {
		width:80%;
	}
}